<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qtu.zp.dao.EnterpriseMapper">

    <resultMap id="Enterprise" type="com.qtu.zp.domain.Enterprise">
        <id column="eid" property="eid"/>
        <result column="eName" property="eName"/>
        <result column="epassword" property="epassword"/>
        <result column="ecreateTime" property="ecreateTime"/>
        <result column="ephone" property="ephone"/>
        <result column="status" property="status"/>

    </resultMap>

    <resultMap id="EnterpriseMessage" type="com.qtu.zp.domain.EnterpriseMessage">
        <id column="emid" property="emid"/>
        <result column="emName" property="emName"/>
        <result column="emheadImage" property="emheadImage"/>
        <result column="emstablishmentDate" property="emstablishmentDate"/>
        <result column="emaddress" property="emaddress"/>
        <result column="emphone" property="emphone"/>
        <result column="ememail" property="ememail"/>
        <result column="emofficialWebsite" property="emofficialWebsite"/>
        <!--<result column="businessScope" property="businessScope"/>-->
        <!--<result column="hiringJobType" property="hiringJobType"/>-->
        <result column="enterpriceStatus" property="enterpriceStatus"/>
        <result column="emFinancing" property="emFinancing"/>
        <result column="emScaleList" property="emScaleList"/>
    </resultMap>


    <!--getEnterpriseByEName-->
    <select id="getEnterpriseByEName" parameterType="java.lang.String" resultMap="EnterpriseMessage">
        SELECT *
        FROM enterprise_message a
        WHERE a.emName = #{eName}
    </select>

    <select id="getEnterpriseMessageByEmphone" parameterType="java.lang.String" resultMap="EnterpriseMessage">
        SELECT *
        FROM enterprise_message a
        WHERE a.emphone = #{emphone}
    </select>



    <!--企业用户登录-->
    <select id="findEnterpriseByPhone" parameterType="java.lang.String" resultMap="Enterprise">
        SELECT *
        FROM enterprise_login a
        WHERE a.ephone = #{ephone}
    </select>

    <select id="getAllEnterprise" resultMap="Enterprise">
        SELECT * FROM enterprise_login
    </select>

    <!--注册企业用户-->
    <insert id="registerEnterprise" parameterType="com.qtu.zp.domain.Enterprise" >
        insert into enterprise_login ( eName, ephone,epassword,ecreateTime,status)
        values (#{eName},#{ephone}, #{epassword,jdbcType=VARCHAR}, #{ecreateTime},
        #{status,jdbcType=INTEGER})
    </insert>

    <!--预埋,businessScope ,#{businessScope}-->
    <insert id="registerEnterpriseMessage" parameterType="com.qtu.zp.domain.EnterpriseMessage" >

        insert into enterprise_message ( emName, emheadImage,emintroduce,emstablishmentDate,emaddress,emphone,ememail,emofficialWebsite,enterpriceStatus,emFinancing,emScaleList)
        values (#{emName}, #{emheadImage},#{emintroduce},#{emstablishmentDate},#{emaddress},#{emphone},#{ememail},#{emofficialWebsite},#{enterpriceStatus},#{emFinancing},#{emScaleList})
    </insert>

    <!--更新Enterprise-->
    <update id="updateEnterprise" parameterType="com.qtu.zp.domain.Enterprise">
        UPDATE enterprise_login
        <trim prefix="set" suffixOverrides=",">
            <if test="eName != null and eName!=''">
                eName=#{eName},
            </if>
            <if test="epassword != null and epassword!=''">
                epassword= #{epassword},
            </if>
            <if test="ecreateTime != null and ecreateTime!=''">
                ecreateTime= #{ecreateTime},
            </if>
            <if test="status != null and status!=''">
                status= #{status},
            </if>
        </trim>
        WHERE
        <if test="ephone != null and ephone!=''">
            ephone= #{ephone}
        </if>
    </update>

    <update id="updateEnterpriseMessage" parameterType="com.qtu.zp.domain.EnterpriseMessage">
        UPDATE enterprise_message
        <trim prefix="set" suffixOverrides=",">
            <if test="emName != null and emName!=''">
                emName=#{emName},
            </if>
            <if test="emheadImage != null and emheadImage!=''">
                emheadImage= #{emheadImage},
            </if>
            <if test="emintroduce != null and emintroduce!=''">
                emintroduce= #{emintroduce},
            </if>
            <if test="emstablishmentDate != null and emstablishmentDate!=''">
                emstablishmentDate= #{emstablishmentDate},
            </if>
            <if test="emaddress != null and emaddress!=''">
                emaddress= #{emaddress},
            </if>
            <if test="ememail != null and ememail!=''">
                ememail= #{ememail},
            </if>
            <if test="emofficialWebsite != null and emofficialWebsite!=''">
                emofficialWebsite= #{emofficialWebsite},
            </if>
            <if test="enterpriceStatus != null and enterpriceStatus!=''">
                enterpriceStatus= #{enterpriceStatus},
            </if>
            <if test="emFinancing != null and emFinancing!=''">
                emFinancing= #{emFinancing},
            </if>
            <if test="emScaleList != null and emScaleList!=''">
                emScaleList= #{emScaleList},
            </if>
        </trim>
        WHERE
        <if test="emphone != null and emphone!=''">
            emphone= #{emphone}
        </if>
    </update>

    <!--修改密码-->
    <update id="updatePassword">
        UPDATE enterprise_login
        SET epassword=#{arg1}
        WHERE ephone= #{arg0}
    </update>

    <!--修改密码-->
    <update id="updateSelfDescription">
        UPDATE enterprise_message
        SET emintroduce=#{arg1}
        WHERE emphone= #{arg0}
    </update>

</mapper>