<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qtu.zp.dao.EnterpriseMapper">

    <resultMap id="Enterprise" type="com.qtu.zp.domain.Enterprise">
        <id column="eid" property="eid"/>
        <result column="eName" property="eName"/>
        <result column="epassword" property="epassword"/>
        <result column="ecreateTime" property="ecreateTime"/>
        <result column="ephone" property="ephone"/>
        <result column="status" property="status"/>

    </resultMap>

    <resultMap id="EnterpriseMessage" type="com.qtu.zp.domain.EnterpriseMessage">
        <id column="emid" property="emid"/>
        <result column="emName" property="emName"/>
        <result column="emheadImage" property="emheadImage"/>
        <result column="emstablishmentDate" property="emstablishmentDate"/>
        <result column="emaddress" property="emaddress"/>
        <result column="emphone" property="emphone"/>
        <result column="ememail" property="ememail"/>
        <result column="emofficialWebsite" property="emofficialWebsite"/>
        <result column="businessScope" property="businessScope"/>
        <!--<result column="hiringJobType" property="hiringJobType"/>-->
        <result column="enterpriceStatus" property="enterpriceStatus"/>
        <result column="emFinancing" property="emFinancing"/>
        <result column="emScaleList" property="emScaleList"/>
    </resultMap>


    <!--getEnterpriseByEName-->
    <select id="getEnterpriseByEName" parameterType="java.lang.String" resultMap="EnterpriseMessage">
        SELECT *
        FROM enterprise_message a
        WHERE a.emName = #{eName}
    </select>

    <!--企业用户登录-->
    <select id="findEnterpriseByPhone" parameterType="java.lang.String" resultMap="Enterprise">
        SELECT *
        FROM enterprise_login a
        WHERE a.ephone = #{ephone}
    </select>

    <select id="getAllEnterprise" resultMap="Enterprise">
        SELECT * FROM enterprise_login
    </select>

    <!--注册企业用户-->
    <insert id="registerEnterprise" parameterType="com.qtu.zp.domain.Enterprise" >
        insert into enterprise_login ( eName, ephone,epassword,ecreateTime,status)
        values (#{eName},#{ephone}, #{epassword,jdbcType=VARCHAR}, #{ecreateTime},
        #{status,jdbcType=INTEGER})
    </insert>

    <insert id="registerEnterpriseMessage" parameterType="com.qtu.zp.domain.EnterpriseMessage" >
        insert into enterprise_message ( emName, emheadImage,emintroduce,emstablishmentDate,emaddress,emphone,ememail,emofficialWebsite,businessScope,enterpriceStatus,emFinancing,emScaleList)
        values (#{emName}, #{emheadImage},#{emintroduce},#{emstablishmentDate},#{emaddress},#{emphone},#{ememail},#{emofficialWebsite},#{businessScope},#{enterpriceStatus},#{emFinancing},#{emScaleList})
    </insert>

</mapper>