<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qtu.zp.dao.JobPositionMapper">
    <resultMap id="JobPosition" type="com.qtu.zp.domain.JobPosition">
    <id column="jpId" property="jpId"/>
    <result column="jName" property="jName"/>
    <result column="salary" property="salary"/>
    <result column="experienceDuration" property="experienceDuration"/>
    <result column="education" property="education"/>
    <result column="obligation" property="obligation"/>
    <result column="qualification" property="qualification"/>
    <result column="workAddress" property="workAddress"/>
    <result column="jType" property="jType"/>
    <result column="jPublishDate" property="jPublishDate"/>
    <result column="stopRecruitDate" property="stopRecruitDate"/>
    <result column="eName" property="eName"/>

</resultMap>

    <resultMap id="JobPositionAndEnterprise" type="com.qtu.zp.domain.JobPositionAndEnterpriseMessage">
        <id column="jpId" property="jpId"/>
        <result column="jName" property="jName"/>
        <result column="salary" property="salary"/>
        <result column="experienceDuration" property="experienceDuration"/>
        <result column="education" property="education"/>
        <result column="obligation" property="obligation"/>
        <result column="qualification" property="qualification"/>
        <result column="workAddress" property="workAddress"/>
        <result column="jType" property="jType"/>
        <result column="jPublishDate" property="jPublishDate"/>
        <result column="stopRecruitDate" property="stopRecruitDate"/>
        <result column="eName" property="eName"/>

        <association property="enterpriseMessage" javaType="com.qtu.zp.domain.EnterpriseMessage">
        <id column="emid" property="emid"/>
        <result column="emName" property="emName"/>
        <result column="emintroduce" property="emintroduce"/>
        <result column="emstablishmentDate" property="emstablishmentDate"/>
        <result column="emaddress" property="emaddress"/>
        <result column="emphone" property="emphone"/>
        <result column="ememail" property="ememail"/>
        <result column="emnum" property="emnum"/>
        <result column="businessScope" property="businessScope"/>
        <result column="enterpriceStatus" property="enterpriceStatus"/>
        <result column="emFinancing" property="emFinancing"/>
        <result column="emScaleList" property="emScaleList"/>
        </association>


    </resultMap>

    <resultMap id="Enterprise" type="com.qtu.zp.domain.Enterprise">
        <id column="eid" property="eid"/>
        <result column="eName" property="eName"/>
        <result column="epassword" property="epassword"/>
        <result column="ecreateTime" property="ecreateTime"/>
        <result column="ephone" property="ephone"/>
    </resultMap>

    <!--企业用户获取到自己公司发布的岗位招聘信息-->
    <select id="findJobListByEName" parameterType="java.lang.String" resultMap="JobPosition">
        SELECT *
        FROM job_position j
        WHERE j.eName = #{eName}
    </select>

    <!--企业用户是否发布了同一个职位-->
    <select id="getJobListByENameAndJName" resultMap="JobPosition">
        SELECT *
        FROM job_position j
        WHERE j.eName = #{0}
        AND  j.jName = #{1}
    </select>

    <select id="getAllJobList" resultMap="JobPositionAndEnterprise">
        SELECT * FROM job_position j,enterprise_message e where e.emName = j.eName
    </select>

    <!--招聘企业中心-->
    <select id="getJobListByeName" parameterType="java.lang.String" resultType="com.qtu.zp.domain.JobPositionAndEnterpriseMessage">
        SELECT * FROM job_position j where j.eName = #{eName}
    </select>

    <!--添加职位信息-->
    <insert id="addJobPosition" parameterType="com.qtu.zp.domain.JobPosition">
        insert into job_position
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="jName != null and jName!=''">
                jName,
            </if>
            <if test="salary != null and salary!=''">
                salary,
            </if>
            <if test="experienceDuration != null and experienceDuration!=''">
                experienceDuration,
            </if>
            <if test="obligation != null and obligation!=''">
                obligation,
            </if>
            <if test="qualification != null and qualification!=''">
                qualification,
            </if>
            <if test="workAddress != null and workAddress!=''">
                workAddress,
            </if>
            <if test="education != null and education!=''">
                education,
            </if>
            <if test="jPublishDate != null and jPublishDate!=''">
                jPublishDate,
            </if>
            <if test="eName != null and eName!=''">
                eName,
            </if>
            <if test="jType != null and jType!=''">
                jType
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="jName != null and jName!=''">
                #{jName},
            </if>
            <if test="salary != null and salary!=''">
                #{salary},
            </if>
            <if test="experienceDuration != null and experienceDuration!=''">
                #{experienceDuration},
            </if>
            <if test="obligation != null and obligation!=''">
                #{obligation},
            </if>
            <if test="qualification != null and qualification!=''">
                #{qualification},
            </if>
            <if test="workAddress != null and workAddress!=''">
                #{workAddress},
            </if>
            <if test="education != null and education!=''">
                #{education},
            </if>
            <if test="jPublishDate != null and jPublishDate!=''">
                #{jPublishDate},
            </if>
            <if test="eName != null and eName!=''">
                #{eName},
            </if>
            <if test="jType != null and jType!=''">
                #{jType}
            </if>
        </trim>
    </insert>



    <!--通过条件筛选出相关岗位信息,todo-->
    <!--JobPositonAndEnterprise-->
    <select id="getJobListByFilterCondition" parameterType="com.qtu.zp.Vo.FilterConditionVo" resultMap="JobPositionAndEnterprise">
        select *  from job_position j,enterprise_message e
        <where>
            j.eName = e.emName

            <if  test="filterSalary!=null and filterSalary != ''">
               and j.salary=#{filterSalary}
            </if>

            <if  test="filterExperience!=null and filterExperience != ''">
                and j.experienceDuration=#{filterExperience}
            </if>
            <if  test="filterEducation!=null and filterEducation != ''">
                and  j.education=#{filterEducation}
            </if>
            <if  test="filterFinancing!=null and filterFinancing != ''">
                and e.emFinancing=#{filterFinancing}
            </if>
            <if  test="filterCompanyScale!=null and filterCompanyScale != ''">
                and e.emScaleList=#{filterCompanyScale}
            </if>

        </where>
        <!--  <if test="start!=null and size!=null">
              limit #{start},#{size}
         </if>  -->
    </select>

    <!--修改职位信息-->
    <!--更新工商信息-->
    <update id="updateJobPosition" parameterType="com.qtu.zp.domain.JobPosition">
        UPDATE business_information
        <trim prefix="set" suffixOverrides=",">
            <if test="jName != null and jName!=''">
                jName=#{jName},
            </if>
            <if test="salary != null and salary!=''">
                salary= #{salary},
            </if>
            <if test="experienceDuration != null and experienceDuration!=''">
                experienceDuration= #{experienceDuration},
            </if>
            <if test="education != null and education!=''">
                education= #{education},
            </if>
            <if test="obligation != null and obligation!=''">
                obligation= #{obligation},
            </if>
            <if test="qualification != null and qualification!=''">
                qualification=#{qualification},
            </if>
            <if test="workAddress != null and workAddress!=''">
                workAddress= #{workAddress},
            </if>
            <if test="jType != null and jType!=''">
                jType #{jType},
            </if>

            <if test="jPublishDate != null and jPublishDate!=''">
                jPublishDate=  #{jPublishDate},
            </if>
            <if test="stopRecruitDate != null and stopRecruitDate!=''">
                stopRecruitDate=#{stopRecruitDate},
            </if>
        </trim>
    </update>

    <delete id="deleteJobPosition" parameterType="java.lang.String">
        delete from job_position where jpId = #{jpId}
    </delete>

    <!--批量删除-->
    <delete id="deleteManyJobPositionByJpId"  parameterType = "java.util.List">
        delete from job_position where 1>2
            or id in
        <foreach collection="list"  item="item" open="(" separator="," close=")"  >
                 #{item}
        </foreach>
    </delete>

</mapper>