<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qtu.zp.dao.JobPositionMapper">
    <resultMap id="JobPosition" type="com.qtu.zp.domain.JobPosition">
        <id column="jpId" property="jpId"/>
        <result column="jName" property="jName"/>
        <result column="salary" property="salary"/>
        <result column="jarea" property="jarea"/>
        <result column="experienceDuration" property="experienceDuration"/>
        <result column="education" property="education"/>
        <result column="obligation" property="obligation"/>
        <result column="qualification" property="qualification"/>
        <result column="workAddress" property="workAddress"/>
        <result column="jType" property="jType"/>
        <result column="jPublishDate" property="jPublishDate"/>
        <result column="stopRecruitDate" property="stopRecruitDate"/>
        <result column="eName" property="eName"/>

        <association property="enterpriseMessage" javaType="com.qtu.zp.domain.EnterpriseMessage">
            <id column="emid" property="emid"/>
            <result column="emintroduce" property="emintroduce"/>
            <result column="emstablishmentDate" property="emstablishmentDate"/>
            <result column="emaddress" property="emaddress"/>
            <result column="emphone" property="emphone"/>
            <result column="ememail" property="ememail"/>
            <result column="emnum" property="emnum"/>
            <result column="businessScope" property="businessScope"/>
            <result column="enterpriceStatus" property="enterpriceStatus"/>
            <result column="emFinancing" property="emFinancing"/>
            <result column="companyScaleList" property="companyScaleList"/>
        </association>

    </resultMap>

    <resultMap id="Enterprise" type="com.qtu.zp.domain.Enterprise">
        <id column="eid" property="eid"/>
        <result column="eName" property="eName"/>
        <result column="epassword" property="epassword"/>
        <result column="ecreateTime" property="ecreateTime"/>
        <result column="ephone" property="ephone"/>
    </resultMap>

    <!--企业用户获取到自己公司发布的岗位招聘信息-->
    <select id="findJobListByEName" parameterType="java.lang.String" resultMap="JobPosition">
        SELECT *
        FROM job_position j
        WHERE j.eName = #{eName}
    </select>

    <select id="getAllJobList" resultMap="JobPosition">
        SELECT * FROM job_position j,enterprise_message e where e.emName = j.eName
    </select>

    <!--通过条件筛选出相关岗位信息-->
    <select id="getJobListByFilter" parameterType="com.qtu.zp.model.CandidateSelectFilter"  resultMap="JobPosition">
        select *  from job_position j,enterprise_message e
        <where>
            <if  test="aid!=null">
                aid=#{aid}
            </if>

        </where>
        <!--  <if test="start!=null and size!=null">
              limit #{start},#{size}
         </if>  -->
    </select>


</mapper>