<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qtu.zp.dao.ManagerMapper">
    <resultMap id="Manager" type="com.qtu.zp.domain.Manager">
        <id column="mid" property="mid"/>
        <result column="managerName" property="managerName"/>
        <result column="headImage" property="headImage"/>
        <result column="createTime" property="createTime"/>
        <result column="mpassword" property="mpassword"/>
        <result column="mphone" property="mphone"/>
        <result column="email" property="email"/>
    </resultMap>


    <!--管理员通过电话号码获取自身信息-->
    <select id="findManagerByPhone" parameterType="java.lang.String" resultMap="Manager">
        SELECT *
        FROM manager m
        WHERE m.mphone = #{mphone}
    </select>

    <!--StatisticCandidateNumByMonth-->
    <select id="StatisticCandidateNumByMonth" resultType="com.qtu.zp.domain.StatisticResult">
    select date_format(ccreateTime, '%Y-%m') as date, count(*) as sum from candidate_login group by date_format(ccreateTime, '%Y-%m');
    </select>

    <select id="StatisticEnterpriseNumByMonth" resultType="com.qtu.zp.domain.StatisticResult">
        select date_format(ecreateTime, '%Y-%m') as date, count(*) as sum from enterprise_login group by date_format(ecreateTime, '%Y-%m');
    </select>

    <select id="StatisticResumeNumByMonth" resultType="com.qtu.zp.domain.StatisticResult">
        select date_format(date, '%Y-%m') as date, count(*) as sum from recruitment_situation group by date_format(date, '%Y-%m');
    </select>


    <update id="updatePassword">
        UPDATE manager set mpassword = #{arg1} WHERE  mphone = #{arg0}
    </update>
</mapper>