<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qtu.zp.dao.ResumeMapper">

    <!--<select id="getResumeByCondition" resultType="com.qtu.zp.domain.Resume">-->
        <!--SELECT *-->
        <!--FROM resume r-->
        <!--WHERE r.phone = #{arg0}-->
        <!--AND  r.educationBackground = #{arg1}-->
        <!--AND r.major = #{arg2}-->
    <!--</select>-->
    <!---->
    <!--&lt;!&ndash;求职者获取简历信息&ndash;&gt;-->
    <!--<select id="getResumeByPhone" parameterType="java.lang.String" resultType="com.qtu.zp.domain.Resume">-->
        <!--SELECT * FROM resume j where j.phone = #{phone}-->
    <!--</select>-->

    <!--&lt;!&ndash;添加简历信息&ndash;&gt;-->
    <!--<insert id="addResume" parameterType="com.qtu.zp.domain.Resume">-->
        <!--insert into resume-->
        <!--<trim prefix="(" suffix=")" suffixOverrides=",">-->
            <!--<if test="school != null and school!=''">-->
                <!--school,-->
            <!--</if>-->
            <!--<if test="educationBackground != null and educationBackground!=''">-->
                <!--educationBackground,-->
            <!--</if>-->
            <!--<if test="major != null and major!=''">-->
                <!--major,-->
            <!--</if>-->
            <!--<if test="studyingTime != null and studyingTime!=''">-->
                <!--studyingTime,-->
            <!--</if>-->
            <!--<if test="graduationTime != null and graduationTime!=''">-->
                <!--graduationTime,-->
            <!--</if>-->
            <!--<if test="internship != null and internship!=''">-->
                <!--internship,-->
            <!--</if>-->
            <!--<if test="phone != null and phone!=''">-->
                <!--phone,-->
            <!--</if>-->
           <!---->
        <!--</trim>-->
        <!--<trim prefix="values (" suffix=")" suffixOverrides=",">-->
            <!--<if test="school != null and school!=''">-->
                <!--#{school},-->
            <!--</if>-->
            <!--<if test="educationBackground != null and educationBackground!=''">-->
                <!--#{educationBackground},-->
            <!--</if>-->
            <!--<if test="major != null and major!=''">-->
                <!--#{major},-->
            <!--</if>-->
            <!--<if test="studyingTime != null and studyingTime!=''">-->
                <!--#{studyingTime},-->
            <!--</if>-->
            <!--<if test="graduationTime != null and graduationTime!=''">-->
                <!--#{graduationTime},-->
            <!--</if>-->
            <!--<if test="internship != null and internship!=''">-->
                <!--#{internship},-->
            <!--</if>-->
            <!--<if test="phone != null and phone!=''">-->
                <!--#{phone},-->
            <!--</if>-->
        <!--</trim>-->
    <!--</insert>-->
    <!--&lt;!&ndash;修改简历信息&ndash;&gt;-->
    <!--<update id="updateResume" parameterType="com.qtu.zp.domain.Resume">-->
        <!--UPDATE resume-->
        <!--<trim prefix="set" suffixOverrides=",">-->
            <!--<if test="school != null and school!=''">-->
                <!--school=#{school},-->
            <!--</if>-->
            <!--<if test="educationBackground != null and educationBackground!=''">-->
                <!--educationBackground= #{educationBackground},-->
            <!--</if>-->
            <!--<if test="major != null and major!=''">-->
                <!--major= #{major},-->
            <!--</if>-->
            <!--<if test="studyingTime != null and studyingTime!=''">-->
                <!--studyingTime= #{studyingTime},-->
            <!--</if>-->
            <!--<if test="graduationTime != null and graduationTime!=''">-->
                <!--graduationTime=#{graduationTime},-->
            <!--</if>-->
            <!--<if test="internship != null and internship!=''">-->
                <!--internship= #{internship},-->
            <!--</if>-->
            <!--<if test="phone != null and phone!=''">-->
                <!--phone #{phone},-->
            <!--</if>-->
        <!--</trim>-->
    <!--</update>-->

    <!--<delete id="deleteResume" parameterType="java.lang.String">-->
        <!--delete from resume where rId = #{rId}-->
    <!--</delete>-->

    <!--&lt;!&ndash;批量删除&ndash;&gt;-->
    <!--&lt;!&ndash;<delete id="deleteManyResumeByJpId"  parameterType = "java.util.List">&ndash;&gt;-->
        <!--&lt;!&ndash;delete from resume where 1>2&ndash;&gt;-->
        <!--&lt;!&ndash;    or rId in&ndash;&gt;-->
        <!--&lt;!&ndash;<foreach collection="list"  item="item" open="(" separator="," close=")"  >&ndash;&gt;-->
            <!--&lt;!&ndash;     #{item}&ndash;&gt;-->
        <!--&lt;!&ndash;</foreach>&ndash;&gt;-->
    <!--&lt;!&ndash;</delete>&ndash;&gt;-->

    <!--投递简历-->
    <insert id="addRecruitmentSituation" parameterType="com.qtu.zp.Vo.RecruitmentSituationVo">
    insert into recruitment_situation
    <trim prefix="(" suffix=")" suffixOverrides=",">
    <if test="jName != null and jName!=''">
        jName,
    </if>
    <if test="eName != null and eName!=''">
    eName,
    </if>
    <if test="date != null and date!=''">
    date,
    </if>
    <if test="status != null and status!=''">
    status,
    </if>
    <if test="phone != null and phone!=''">
    phone,
    </if>

    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
    <if test="jName != null and jName!=''">
    #{jName},
    </if>
    <if test="eName != null and eName!=''">
    #{eName},
    </if>
    <if test="date != null and date!=''">
    #{date},
    </if>
    <if test="status != null and status!=''">
    #{status},
    </if>
    <if test="phone != null and phone!=''">
    #{phone},
    </if>
    </trim>
    </insert>
</mapper>