<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qtu.zp.dao.WorkExperienceMapper">

    <select id="getWorkExperienceByPhone" resultType="com.qtu.zp.domain.WorkExperience">
        SELECT *
        FROM work_experience r
        WHERE r.phone = #{arg0}
    </select>


    <select id="findWorkExperienceByPhone" parameterType="java.lang.String" resultType="com.qtu.zp.domain.WorkExperience">
        SELECT * FROM work_experience j where j.phone = #{phone}
    </select>

    <select id="findWorkExperienceByPhoneAndEName" resultType="com.qtu.zp.domain.WorkExperience">
        SELECT * FROM work_experience j where j.phone = #{arg0} AND  j.companyName like "%"#{arg1}"%"
    </select>

    <insert id="addWorkExperience" parameterType="com.qtu.zp.domain.WorkExperience">
        insert into work_experience
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="companyName != null and companyName!=''">
                companyName,
            </if>
            <if test="industryInvolved != null and industryInvolved!=''">
                industryInvolved,
            </if>
            <if test="jobTitle != null and jobTitle!=''">
                jobTitle,
            </if>
            <if test="workingStartTime != null and workingStartTime!=''">
                workingStartTime,
            </if>
            <if test="workingEndTime != null and workingEndTime!=''">
                workingEndTime,
            </if>
            <if test="phone != null and phone!=''">
                phone,
            </if>
            <if test="jobDescription != null and jobDescription!=''">
                jobDescription,
            </if>
            <if test="salary != null and salary!=''">
                salary,
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="companyName != null and companyName!=''">
                #{companyName},
            </if>
            <if test="industryInvolved != null and industryInvolved!=''">
                #{industryInvolved},
            </if>
            <if test="jobTitle != null and jobTitle!=''">
                #{jobTitle},
            </if>
            <if test="workingStartTime != null and workingStartTime!=''">
                #{workingStartTime},
            </if>
            <if test="workingEndTime != null and workingEndTime!=''">
                #{workingEndTime},
            </if>
            <if test="phone != null and phone!=''">
                #{phone},
            </if>
            <if test="jobDescription != null and jobDescription!=''">
                #{jobDescription},
            </if>
            <if test="salary != null and salary!=''">
                #{salary},
            </if>
        </trim>
    </insert>
    <!--修改社交主页信息-->
    <update id="updateWorkExperience" parameterType="com.qtu.zp.domain.WorkExperience">
        UPDATE  work_experience
        <trim prefix="set" suffixOverrides=",">
            <if test="companyName != null and companyName!=''">
                companyName=#{companyName},
            </if>
            <if test="jobTitle != null and jobTitle!=''">
                jobTitle= #{jobTitle},
            </if>
            <if test="industryInvolved != null and industryInvolved!=''">
                industryInvolved=#{industryInvolved},
            </if>
            <if test="workingStartTime != null and workingStartTime!=''">
                workingStartTime= #{workingStartTime},
            </if>
            <if test="workingEndTime != null and workingEndTime!=''">
                workingEndTime=#{workingEndTime},
            </if>
            <if test="phone != null and phone!=''">
                phone= #{phone},
            </if>
            <if test="jobDescription != null and jobDescription!=''">
                jobDescription=#{jobDescription},
            </if>
            <if test="salary != null and salary!=''">
                salary= #{salary},
            </if>
        </trim>
        where weId =#{weId}
    </update>

    <delete id="deleteWorkExperience" parameterType="java.lang.String">
        delete from  work_experience where weId = #{weId}
    </delete>

</mapper>